<h2>Настройки пароля</h2>
<input id = 'oldPassword' placeholder="старый пароль"><br>
<input id = 'newPassword' type="password" placeholder="Новый пароль"><br>
<input id = 'saveSettings' type="button" value = 'Сохранить изменения'>
<script>
    $(document).ready(function () {
        $('#saveSettings').click(function () {
            var data = new FormData();
            data.append('password', $('#oldPassword').val());
            data.append('newPassword', $('#newPassword').val());
            $.ajax({
                url: 'controllers/passwordSetting.php?function=writePassword',
                type: 'POST',
                data: data,
                cache: false,
                dataType: 'json',
                processData: false, // Не обрабатываем файлы (Don't process the files)
                contentType: false, // Так jQuery скажет серверу что это строковой запрос
                success: function (result, textStatus, jqXHR) {
                    if(result['answer'] == '1'){
                        alert('Пароль успешно перезаписан');
                    }
                    else{
                        alert('Ошибка ввода старого пароля');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('ОШИБКИ AJAX запроса: ' + textStatus);
                }
            });
        });
    });
</script>